<div class="main-container" *ngIf="!(isLoading$ | async)">

  <!-- Вкладки -->
  <ul class="nav-list">
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 1}" (click)="setTabId(1)" id="stage_0" *ngIf="this.consts.stages.length > 0">{{ this.consts.stages[0].name }}</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 2}" (click)="setTabId(2)" id="stage_1" *ngIf="this.consts.stages.length > 1">{{ this.consts.stages[1].name }}</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 3}" (click)="setTabId(3)" id="prizes">Призы</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 4}" (click)="setTabId(4)" id="format">Формат</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 5}" (click)="setTabId(5)" *ngIf="!!consts.cup" id="cup">Кубок</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 100}" (click)="setTabId(100)" id="all">Общий зачет</li>
  </ul>

  <!-- Лиги -->
  <ul class="nav-list" *ngIf="activeTabs.tabId === 1">
    <li
      *ngFor="let item of this.consts.stages[0].leagues; index as leagueInd"
      class="nav-item"
      [ngClass]="{'active': activeTabs.confId === leagueInd}"
      [id]="'conf_' + leagueInd"
      (click)="setConfId(leagueInd)"
    >{{ item.name }}</li>
  </ul>
  <ul class="nav-list" *ngIf="activeTabs.tabId === 2">
    <li
      *ngFor="let item of this.consts.stages[1].leagues; index as leagueInd"
      class="nav-item"
      [ngClass]="{'active': activeTabs.confId === leagueInd}"
      [id]="'conf_' + leagueInd"
      (click)="setConfId(leagueInd)"
    >{{ item.name }}</li>
  </ul>

  <!-- Вкладки лиг -->
  <ul class="nav-list" *ngIf="[1,2].includes(activeTabs.tabId)">
    <li class="nav-item" [ngClass]="{'active': activeTabs.confTabId === 1}" (click)="setConfTabId(1)" id="table">Таблица</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.confTabId === 2}" (click)="setConfTabId(2)" id="schedule">Расписание</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.confTabId === 3}" (click)="setConfTabId(3)" id="matches">Матчи</li>
  </ul>

  <div *ngIf="[1,2].includes(activeTabs.tabId)">
    <div
      *ngFor="let item of this.consts.stages[activeTabs.tabId - 1].leagues; index as leagueInd"
    >
      <h2 class="h2-title" *ngIf="activeTabs.confId === leagueInd">{{ item.name }}</h2>
    </div>
  </div>

  <div *ngIf="activeTabs.tabId === 3">
    <app-prizes-list [prizes]="prizesToShow"></app-prizes-list>
  </div>

  <div class="format-tab" *ngIf="activeTabs.tabId === 4">
    <p>По нажатию на картинку можно посмотреть ее в наилучшем формате</p>
    <a [href]="this.consts.format_img_link" class="image-link">
      <div class="img-container">
        <img [src]="this.consts.format_img_link" alt="Формат Ла Лиги 25_26.png">
      </div>
    </a>
  </div>

  <div class="button-container" *ngIf="activeTabs.tabId === 100">
    <div class="prizes-button" (click)="toggleUnitedRating()">{{ !isShowUnitedTableByPoints ? 'Открыть таблицу по очкам' : 'Открыть таблицу по фэнтези-очкам' }}</div>
  </div>

  <!-- Таблица -->
  <div class="table-container" *ngIf="[1, 2].includes(activeTabs.tabId) && activeTabs.confTabId === 1 || activeTabs.tabId === 100">
    <app-standings
      [profilesArr]="unitedProfiles"
      [playersRatingArr]="playersRatingArr"
      [squadsDetails]="squadsDetails.value"
      [squads]="squads"
      [lastTour]="lastTour"
      [isShowUnitedTableByPoints]="isShowUnitedTableByPoints"
      [chosenStage]="chosenStage"
      [chosenLeague]="chosenLeague"
    ></app-standings>
  </div>

  <!-- Расписание конференции -->
  <div class="table-container" *ngIf="[1,2].includes(activeTabs.tabId) && activeTabs.confTabId === 2">
    <app-schedule
      [profilesArr]="unitedProfiles"
      [currentLeagueMatches]="currentLeagueMatches"
      [firstTour]="this.consts.stages[activeTabs.tabId - 1].firstTour"
      [lastTour]="lastTour"
    ></app-schedule>
  </div>
  
  <!-- Матчи конференции по турам -->
  <div class="matches-container" *ngIf="[1,2].includes(activeTabs.tabId) && activeTabs.confTabId === 3">
    <ul class="tours-list">
      <li
        *ngFor="let tourMatches of currentLeagueMatches; index as i"
        class="tour-item"
        [ngClass]="{'active': activeTabs.tourId === i+1}"
        (click)="setTourId(i+1)"
      >{{ i + 1 }}</li>
    </ul>
    <app-matches
      [profilesArr]="unitedProfiles"
      [currentLeagueMatches]="currentLeagueMatches"
      [firstTour]="this.consts.stages[activeTabs.tabId - 1].firstTour"
      [lastTour]="lastTour"
      [activeTabs]="activeTabs"
    ></app-matches>
  </div>

  <!-- Матчи кубка по турам -->
  <div class="matches-container" *ngIf="[5].includes(activeTabs.tabId)">
    <ul class="tours-list">
      <li
        *ngFor="let tourMatches of consts.cup.matches; index as i"
        class="tour-item"
        [ngClass]="{'active': activeTabs.cupTourId === i + 1}"
        (click)="setCupTourId(i+1)"
        (click)="setTourId(i+1)"
      >{{ consts.cup.matchesToursNames[i] }}</li>
    </ul>
    <app-matches
      [profilesArr]="this.profilesDetails"
      [currentLeagueMatches]="consts.cup.matches"
      [matchesTours]="consts.cup.matchesTours"
      [lastTour]="lastTour"
      [activeTabs]="activeTabs"
    ></app-matches>
  </div>
</div>
<app-default-loader *ngIf="(isLoading$ | async)" class="loading-spinner-container"></app-default-loader>

