<div class="main-container" *ngIf="!(isLoading$ | async)">

  <!-- Вкладки -->
  <ul class="nav-list">
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 1}" (click)="setTabId(1)" id="stage_0" *ngIf="this.consts.stages.length > 0">{{ this.consts.stages[0].name }}</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 2}" (click)="setTabId(2)" id="stage_1" *ngIf="this.consts.stages.length > 1">{{ this.consts.stages[1].name }}</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 3}" (click)="setTabId(3)" id="prizes">Призы</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 4}" (click)="setTabId(4)" id="prizes">Формат</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.tabId === 100}" (click)="setTabId(100)" id="all">Общий зачет</li>
  </ul>

  <!-- Лиги -->
  <ul class="nav-list" *ngIf="activeTabs.tabId === 1">
    <li
      *ngFor="let item of this.consts.stages[0].leagues; index as leagueInd"
      class="nav-item"
      [ngClass]="{'active': activeTabs.confId === leagueInd}"
      [id]="'conf_' + leagueInd"
      (click)="setConfId(leagueInd)"
    >{{ item.name }}</li>
  </ul>
  <ul class="nav-list" *ngIf="activeTabs.tabId === 2">
    <li
      *ngFor="let item of this.consts.stages[1].leagues; index as leagueInd"
      class="nav-item"
      [ngClass]="{'active': activeTabs.confId === leagueInd}"
      [id]="'conf_' + leagueInd"
      (click)="setConfId(leagueInd)"
    >{{ item.name }}</li>
  </ul>

  <!-- Вкладки лиг -->
  <ul class="nav-list" *ngIf="[1,2].includes(activeTabs.tabId)">
    <li class="nav-item" [ngClass]="{'active': activeTabs.confTabId === 1}" (click)="setConfTabId(1)" id="table">Таблица</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.confTabId === 2}" (click)="setConfTabId(2)" id="schedule">Расписание</li>
    <li class="nav-item" [ngClass]="{'active': activeTabs.confTabId === 3}" (click)="setConfTabId(3)" id="matches">Матчи</li>
  </ul>

  <div *ngIf="[1,2].includes(activeTabs.tabId)">
    <div
      *ngFor="let item of this.consts.stages[activeTabs.tabId - 1].leagues; index as leagueInd"
    >
      <h2 class="h2-title" *ngIf="activeTabs.confId === leagueInd">{{ item.name }}</h2>
    </div>
  </div>

  <div *ngIf="activeTabs.tabId === 3">
    <div class="button-container">
      <div class="prizes-button" (click)="toggleShowingAllPrizes()">{{ !!isShowAllPrizes ? 'Показать актуальные' : 'Показать все' }}</div>
    </div>
    <ul class="prizes-list">
      <li class="prize-item" *ngFor="let item of prizesToShow; index as prizeInd">
        <div class="prize-item-container">
          <div class="info-container">
            <div class="card-header-container">
              <div class="prize-icon">
                <img [src]="item.icon" [alt]="'приз '+item.name">
              </div>
              <div class="card-title-container">
                <div class="prize-name">{{ item.name }}</div>
              </div>
              <div class="prize-id">
                <p>{{ item.id }}</p>
              </div>
            </div>
            <div class="prize-author">
              <span class="prize-title">Автор:</span>
              <span class="prize-description">{{ item.author }}</span>
            </div>
            <div class="prize-condition">
              <span class="prize-title">Описание:</span>
              <span class="prize-description">{{ item.condition }}</span>
            </div>
            <div class="prize-reward">
              <span class="prize-title">Приз:</span>
              <span class="prize-description">{{ item.reward }}</span>
            </div>
          </div>
          
          <div class="nominees-container" [ngSwitch]="item.state">
            <div class="nominees-header-container">
              <div class="prize-title">Лидеры:</div>
              <div class="show-all-button" *ngSwitchCase="1" (click)="showAllNominees(item)">
                {{ !!item.isShowAll ? "Показать лидеров" : "Показать всех" }}
              </div>
            </div>
            <span *ngIf="!!item.infoOnTour">Данные на {{ item.infoOnTour }} тур</span>
            <ul class="nominees-list" *ngSwitchCase="1">
              <ng-container *ngFor="let nominee of (!item.isShowAll ? item.activeLeaders : item.nomineesArr); index as nomInd">
                <li
                  class="nominee-item"
                  [ngClass]="{ 'unsuitable-item': !!item.isShowAll && !item.activeLeaders.includes(nominee) }"
                  *ngIf="!!item.isShowAll || !item.isShowAll && nomInd < 5"
                >
                  <div class="nominee-main-container">
                    <div class="team-container">
                      <div class="icon-container place" [ngSwitch]="true">
                        <img src="assets/logos/2025/icons/gold-medal.png" *ngSwitchCase="nomInd === 0" [alt]="'logo '+nominee.team.title">
                        <img src="assets/logos/2025/icons/silver-medal.png" *ngSwitchCase="nomInd === 1" [alt]="'logo '+nominee.team.title">
                        <img src="assets/logos/2025/icons/bronze-medal.png" *ngSwitchCase="nomInd === 2" [alt]="'logo '+nominee.team.title">
                        <img src="assets/logos/2025/icons/medal.png" *ngSwitchDefault [alt]="'logo '+nominee.team.title">
                        <div class="place-number" *ngSwitchCase="nomInd > 4">{{ nomInd + 1 }}</div>
                      </div>
                      <div class="icon-container">
                        <img [src]="nominee.logo" [alt]="'logo '+nominee.team.title">
                      </div>
                      <div class="title-container">
                        <p class="team-name">{{ nominee.team.title }}</p>
                        <p class="player-name">{{ nominee.name }}</p>
                      </div>
                    </div>
                    <div class="param-container"
                      *ngIf="!item.isSecret"
                    >{{ item.id !== 8 ? nominee.prizes[item.id].value
                      : nominee.prizes[item.id].value.toFixed(2) }}
                    </div>
                  </div>
                  <div class="nominee-bage-container">
                    <div
                      class="bage notactive-bage"
                      [ngClass]="{
                        'green-bg': nominee.results.subsCoef > 50,
                        'red-bg': nominee.results.subsCoef <= 50,
                      }"
                      *ngIf="!!item.isShowAll"
                    >акт {{ nominee.results.subsCoef }}%</div>
                    <div
                      class="bage red-bg"
                      *ngIf="!!item.excluded && item.excluded.length > 0 && item.excluded.includes(nominee.id)"
                    >не участ.</div>
                  </div>
                </li>
              </ng-container>
            </ul>
            <div class="nomimees-default" *ngSwitchCase="2">
              <p>Данные появятся на этапе Clausura</p>
            </div>
            <div class="nomimees-default" *ngSwitchCase="3">
              <p>Нет подходящих команд</p>
            </div>
            <div class="nomimees-default" *ngSwitchDefault>
              <p>Список главных претендентов будет позднее</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="format-tab" *ngIf="activeTabs.tabId === 4">
    <p>По нажатию на картинку можно посмотреть ее в наилучшем формате</p>
    <a [href]="this.consts.format_img_link" class="image-link">
      <div class="img-container">
        <img [src]="this.consts.format_img_link" alt="Формат Ла Лиги 25_26.png">
      </div>
    </a>
  </div>

  <div class="button-container" *ngIf="activeTabs.tabId === 100">
    <div class="prizes-button" (click)="toggleUnitedRating()">{{ !isShowUnitedTableByPoints ? 'Открыть таблицу по очкам' : 'Открыть таблицу по фэнтези-очкам' }}</div>
  </div>

  <!-- Таблица -->
  <div class="table-container" *ngIf="[1, 2].includes(activeTabs.tabId) && activeTabs.confTabId === 1 || activeTabs.tabId === 100">
    <app-standings
      [profilesArr]="unitedProfiles"
      [playersRatingArr]="playersRatingArr"
      [squadsDetails]="squadsDetails.value"
      [squads]="squads"
      [lastTour]="lastTour"
      [isShowUnitedTableByPoints]="isShowUnitedTableByPoints"
      [chosenStage]="chosenStage"
      [chosenLeague]="chosenLeague"
    ></app-standings>
  </div>

  <!-- Расписание конференции -->
  <div class="table-container" *ngIf="activeTabs.confTabId === 2">
    <table class="table schedule" *ngIf="!(isLoading$ | async)">
      <thead class="table-header">
        <tr>
          <th class="align-left">Команда</th>
          <th class="sub-info" *ngFor="let matches of currentLeagueMatches; index as i">{{ i + 1 }}</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let profile of unitedProfiles; index as i" class="table-row">
          <td class="item-name-container">
            <a [href]="'https://www.sports.ru/fantasy/football/'+(service.urlName$ | async)+'/'+profile.team.id" class="team-link" target="_blank">
              <div class="item-team-container">
                <div class="logo-container">
                  <img [src]="!!profile.logo ? profile.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                </div>
                <div class="team-container">
                  <span class="team-name">
                    {{ profile.team.title }}
                  </span>
                  <span class="person-name">{{ profile.name }}</span>
                </div>
              </div>
            </a>
          </td>
          <td class="sub-info" *ngFor="let tourMatches of currentLeagueMatches; index as tourInd">
            <div class="item-team-container">
              <div
                class="logo-container"
                [ngClass]="{
                  'green-bg':  getMatchResult(tourMatches, profile.id) === 1 && tourInd + this.consts.stages[activeTabs.tabId - 1].firstTour - 1 < lastTour,
                  'red-bg':    getMatchResult(tourMatches, profile.id) === 2 && tourInd + this.consts.stages[activeTabs.tabId - 1].firstTour - 1 < lastTour,
                  'grey-bg':   getMatchResult(tourMatches, profile.id) === 0 && tourInd + this.consts.stages[activeTabs.tabId - 1].firstTour - 1 < lastTour
                }">
                <a [href]="'https://www.sports.ru/fantasy/football/'+(service.urlName$ | async)+'/'+getOpponentTeamId(tourMatches, profile.id)" target="_blank">
                  <img
                    class="logo-img opponent"
                    [src]="!!getOpponentTeamLogo(tourMatches, profile.id) ?
                      getOpponentTeamLogo(tourMatches, profile.id) : 'assets/logos/default.png'"
                    [alt]="!!getOpponentTeamTitle(tourMatches, profile.id) ?
                      getOpponentTeamTitle(tourMatches, profile.id) : ''"
                  >
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Матчи конференции по турам -->
  <div class="matches-container" *ngIf="activeTabs.confTabId === 3">
    <ul class="tours-list">
      <li
        *ngFor="let tourMatches of currentLeagueMatches; index as i"
        class="tour-item"
        [ngClass]="{'active': activeTabs.tourId === i+1}"
        (click)="setTourId(i+1)"
      >{{ i + 1 }}</li>
    </ul>
    <div *ngFor="let tourMatches of currentLeagueMatches; index as i">
      <ul class="matches-list" *ngIf="activeTabs.tourId === i+1">
        <li class="match-item" *ngFor="let match of tourMatches">
          <a [href]="'https://www.sports.ru/fantasy/football/'+(service.urlName$ | async)+'/'+getTeamId(match.home)" target="_blank">
            <div class="team home-team">
              <div class="name-container">
                <p class="team-name">{{ getTeamTitle(match.home) }}</p>
                <p class="player-name">{{ getProfileInfo(match.home).name }}</p>
              </div>
              <div class="logo-container">
                <img
                  class="logo-img opponent"
                  [src]="!!getTeamLogo(match.home) ?
                    getTeamLogo(match.home) : 'assets/logos/default.png'"
                  [alt]="!!getTeamTitle(match.home) ?
                    getTeamTitle(match.home) : ''"
                >
              </div>
              <span
                class="result"
                [ngClass]="{
                  'green-text':  getMatchResult(tourMatches, match.home) === 1 && i < lastTour,
                  'red-text':    getMatchResult(tourMatches, match.home) === 2 && i < lastTour,
                  'grey-text':   getMatchResult(tourMatches, match.home) === 0 && i < lastTour
                }">
                {{ match.home_score }}
              </span>
            </div>
          </a>
          <span>-</span>
          <a [href]="'https://www.sports.ru/fantasy/football/'+(service.urlName$ | async)+'/'+getTeamId(match.away)" target="_blank">
            <div class="team away-team">
              <div class="name-container">
                <p class="team-name">{{ getTeamTitle(match.away) }}</p>
                <p class="player-name">{{ getProfileInfo(match.away).name }}</p>
              </div>
              <div class="logo-container">
                <img
                  class="logo-img opponent"
                  [src]="!!getTeamLogo(match.away) ?
                    getTeamLogo(match.away) : 'assets/logos/default.png'"
                  [alt]="!!getTeamTitle(match.away) ?
                    getTeamTitle(match.away) : ''"
                >
              </div>
              <span 
                class="result"
                [ngClass]="{
                  'green-text':  getMatchResult(tourMatches, match.home) === 2 && i < lastTour,
                  'red-text':    getMatchResult(tourMatches, match.home) === 1 && i < lastTour,
                  'grey-text':   getMatchResult(tourMatches, match.home) === 0 && i < lastTour
                }">
                {{ match.away_score }}
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-default-loader *ngIf="(isLoading$ | async)" class="loading-spinner-container"></app-default-loader>

