<div class="main-container" *ngIf="!(isLoading$ | async)">
  <div class="nav-container">
    <ul class="nav-list">
      <li class="nav-item"
        id="groups"
        (click)="selectTab($event)"
      >Группы</li>
      <li class="nav-item" 
        *ngFor="let tour of consts.tours"
        [id]="tour.tour"
        (click)="selectTab($event)"
      >
        <span >{{ tour.tour }} тур</span>
      </li>
      <li class="nav-item"
        id="all"
        (click)="selectTab($event)"
      >Общий зачет</li>
    </ul>
  </div>

  <div class="data-container">
    <div class="groups-list" *ngIf="activeTab==='groups'">
      <div class="group-container" *ngFor="let item of results; index as ind">
        <h2 class="group-title">Группа {{item.groupName}}</h2>
        <div class="group-title-container">
          <h3 class="group-title"
            [ngClass]="{'active': !!activeGroupTabs[ind].isTeams}"
            (click)="toggleGroupTab($event, ind, true)"
          >Команды</h3>
          <div></div>
          <h3 class="group-title"
            *ngIf="ind < 3"
            [ngClass]="{'active': !activeGroupTabs[ind].isTeams}"
            (click)="toggleGroupTab($event, ind, false)"
          >Внутренний рейтинг</h3>
        </div>
        <table class="table group-table" *ngIf="!!activeGroupTabs[ind].isTeams">
          <thead class="table-header">
            <tr>
              <th>#</th>
              <th class="align-left">Команда</th>
              <th class="sub-info">В</th>
              <th class="sub-info">Н</th>
              <th class="sub-info">П</th>
              <th class="sub-info">ЗГ</th>
              <th class="sub-info">ПГ</th>
              <th class="sub-info">РГ</th>
              <th class="sub-info">ЗФО</th>
              <th class="sub-info">ПФО</th>
              <th class="sub-info">РФО</th>
              <th class="sub-info">О</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let team of item.teams; index as i" class="table-row">
              <td [ngClass]="{
                'special': i + 1 === 1 || i + 1 === 2,
              }">
                <span>
                  {{ i + 1 }}
                </span>
              </td>
              <td class="item-name-container">
                <div class="item-team-container">
                  <div class="logo-container">
                    <img [src]="!!team.logo ? team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                  </div>
                  <div class="team-container">
                    <span class="team-name">
                      {{ team.name }}
                    </span>
                  </div>
                </div>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.win }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.draw }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.lose }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.goals }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.missed_goals }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.gd }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.fo }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.missed_fo }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.pd }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.points }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="profiles-list-container" *ngIf="!activeGroupTabs[ind].isTeams && ind < 3">
          <div class="team-container" *ngFor="let team of item.tours[item.tours.length-1].teams; index as i">
            <div class="team-logo-container">
              <div class="logo-container">
                <img [src]="!!team.logo ? team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
              </div>
              <div class="team-container">
                <span class="team-name">
                  {{ team.name }}
                </span>
              </div>
            </div>
            <table class="table group-table">
              <thead class="table-header">
                <tr>
                  <th>#</th>
                  <th class="align-left">Команда</th>
                  <th class="sub-info">ЗГ</th>
                  <th class="sub-info">ПГ</th>
                  <th class="sub-info">РГ</th>
                  <th class="sub-info">ЗФО</th>
                  <th class="sub-info">ПФО</th>
                  <th class="sub-info">РФО</th>
                  <th class="sub-info">ПТ</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr *ngFor="let profile of team.profiles; index as profileInd" class="table-row">
                  <td [ngClass]="{
                    'special': profileInd + 1 === 1 || profileInd + 1 === 2,
                  }">
                    <span>
                      {{ profileInd + 1 }}
                    </span>
                  </td>
                  <td class="item-name-container">
                    <div class="item-team-container">
                      <div class="team-container">
                        <span class="team-name">
                          {{ profile.name }}
                        </span>
                        <span class="person-name">
                          {{ profile.teamName }}
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="sub-info">
                    <span class="important-params">
                      {{ profile.results[profile.results.length-1].total_goals }}
                    </span>
                  </td>
                  <td class="sub-info">
                    <span>
                      {{ profile.results[profile.results.length-1].total_missed_goals }}
                    </span>
                  </td>
                  <td class="sub-info">
                    <span>
                      {{ profile.results[profile.results.length-1].total_gd }}
                    </span>
                  </td>
                  <td class="sub-info">
                    <span class="important-params">
                      {{ profile.results[profile.results.length-1].total_fo }}
                    </span>
                  </td>
                  <td class="sub-info">
                    <span>
                      {{ profile.results[profile.results.length-1].total_missed_fo }}
                    </span>
                  </td>
                  <td class="sub-info">
                    <span>
                      {{ profile.results[profile.results.length-1].total_pd }}
                    </span>
                  </td>
                  <td class="sub-info">
                    <span>
                      {{ profile.results[profile.results.length-1].fo }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Отборочный -->
      <div class="group-container" *ngIf="activeTab==='groups'">
        <h2 class="group-title">{{additionalGroup.groupName}}</h2>
        <div class="group-title-container">
          <h3 class="group-title">Команды</h3>
        </div>
        <table class="table group-table">
          <thead class="table-header">
            <tr>
              <th>#</th>
              <th class="align-left">Команда</th>
              <th class="sub-info">В</th>
              <th class="sub-info">Н</th>
              <th class="sub-info">П</th>
              <th class="sub-info">ЗГ</th>
              <th class="sub-info">ПГ</th>
              <th class="sub-info">РГ</th>
              <th class="sub-info">ЗФО</th>
              <th class="sub-info">ПФО</th>
              <th class="sub-info">РФО</th>
              <th class="sub-info">О</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let team of additionalGroup.teams; index as i" class="table-row">
              <td [ngClass]="{
                'special': i + 1 === 1 || i + 1 === 2,
              }">
                <span>
                  {{ i + 1 }}
                </span>
              </td>
              <td class="item-name-container">
                <div class="item-team-container">
                  <div class="logo-container">
                    <img [src]="!!team.logo ? team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                  </div>
                  <div class="team-container">
                    <span class="team-name">
                      {{ team.name }}
                    </span>
                  </div>
                </div>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.win }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.draw }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.lose }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.goals }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.missed_goals }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.gd }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.fo }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.missed_fo }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.pd }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.points }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tours-list-container" *ngIf="!!(+activeTab)">
      <ul class="tours-list" *ngFor="let tour of consts.tours; index as tourInd">
        <li class="tour-item" *ngIf="tour.tour === +activeTab">
          <div class="matches-container" *ngIf="!!results[0].tours[tour.tour-1]; else noDataElem">
            <ul class="groups-list" *ngIf="tourInd < 3">
              <li class="group-item" *ngFor="let group of results; index as ind">
                <h2 class="group-title">Группа {{ group.groupName }}</h2>
                <ul class="matches-list" *ngIf="tour.type === 'group'">
                  <li class="match-item" *ngFor="let match of group.tours[tourInd].matches; index as i">
                    <div class="item-team-container">
                      <div class="title-container left">
                        <div class="logo-container">
                          <img [src]="!!match.first_team.logo ? match.first_team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                        </div>
                        <div class="team-container">
                          <span class="team-name">
                            {{ match.first_team.name }}
                          </span>
                        </div>
                      </div>
                      <div class="participants-container left">
                        <table>
                          <tbody>
                            <tr *ngFor="let meet of match.meets; index as pr_ind">
                              <td>{{ meet.first_profile.name }}</td>
                              <td
                                [ngStyle]="{
                                  'color': meet.first_profile.results[tourInd]?.gd === 1 ?
                                    'green' :
                                    meet.first_profile.results[tourInd]?.gd === 0 ?
                                      'grey' :
                                      'red' 
                                }"
                                >{{ meet.first_profile.results[tourInd]?.fo }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="score-item">
                      <span>
                        {{ match.first_team_score }} vs {{ match.second_team_score }}
                      </span>
                    </div>
                    <div class="item-team-container">
                      <div class="title-container">
                        <div class="logo-container">
                          <img [src]="!!match.second_team.logo ? match.second_team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                        </div>
                        <div class="team-container">
                          <span class="team-name">
                            {{ match.second_team.name }}
                          </span>
                        </div>
                      </div>
                      <div class="participants-container right">
                        <table>
                          <tbody>
                            <tr *ngFor="let meet of match.meets; index as pr_ind">
                              <td>{{ meet.second_profile.name }}</td>
                              <td
                                [ngStyle]="{
                                  'color': meet.second_profile.results[tourInd]?.gd === 1 ?
                                    'green' :
                                    meet.second_profile.results[tourInd]?.gd === 0 ?
                                      'grey' :
                                      'red'
                                }"
                                >{{ meet.second_profile.results[tourInd]?.fo }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>

            <div class="matches-container" *ngIf="tourInd === 3">
              <h2 class="group-title">{{ additionalGroup.groupName }}</h2>
              <ul class="matches-list">
                <li class="match-item" *ngFor="let match of additionalGroup.matches; index as i">
                  <div class="item-team-container">
                    <div class="title-container left">
                      <div class="logo-container">
                        <img [src]="!!match.first_team.logo ? match.first_team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                      </div>
                      <div class="team-container">
                        <span class="team-name">
                          {{ match.first_team.name }}
                        </span>
                      </div>
                    </div>
                    <div class="participants-container left">
                      <table>
                        <tbody>
                          <tr *ngFor="let meet of match.meets; index as pr_ind">
                            <td>{{ meet.first_profile.name }}</td>
                            <td
                              [ngStyle]="{
                                'color': meet.first_profile.results[tourInd]?.gd === 1 ?
                                  'green' :
                                  meet.first_profile.results[tourInd]?.gd === 0 ?
                                    'grey' :
                                    'red' 
                              }"
                              >{{ meet.first_profile.results[tourInd]?.fo }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="score-item">
                    <span>
                      {{ match.first_team_score }} vs {{ match.second_team_score }}
                    </span>
                  </div>
                  <div class="item-team-container">
                    <div class="title-container">
                      <div class="logo-container">
                        <img [src]="!!match.second_team.logo ? match.second_team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                      </div>
                      <div class="team-container">
                        <span class="team-name">
                          {{ match.second_team.name }}
                        </span>
                      </div>
                    </div>
                    <div class="participants-container right">
                      <table>
                        <tbody>
                          <tr *ngFor="let meet of match.meets; index as pr_ind">
                            <td>{{ meet.second_profile.name }}</td>
                            <td
                              [ngStyle]="{
                                'color': meet.second_profile.results[tourInd]?.gd === 1 ?
                                  'green' :
                                  meet.second_profile.results[tourInd]?.gd === 0 ?
                                    'grey' :
                                    'red'
                              }"
                              >{{ meet.second_profile.results[tourInd]?.fo }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="groups-list">
      <div class="group-container" *ngFor="let item of results; index as itemInd">
        Группа {{item.groupName}}
        <table class="table group-table" *ngFor="let team of item.teams; index as teamInd">
          <div class="logo-container">
            <img [src]="!!team.logo ? team.logo : 'assets/logos/default.png'" alt="" class="logo-img">
          </div>
          {{ team.name }}
          <thead class="table-header">
            <tr>
              <th>#</th>
              <th class="align-left">Участник</th>
              <th class="sub-info">ЗГ</th>
              <th class="sub-info">ПГ</th>
              <th class="sub-info">РГ</th>
              <th class="sub-info">ЗФО</th>
              <th class="sub-info">ПФО</th>
              <th class="sub-info">РФО</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr class="table-row" *ngFor="let profile of team.profiles; index as teamInd">
              <td [ngClass]="{
                'special': teamInd + 1 === 1 || teamInd + 1 === 2,
              }">
                <span>
                  {{ teamInd + 1 }}
                </span>
              </td>
              <td class="item-name-container">
                <a [href]="'https://www.sports.ru/fantasy/football/'+(service.urlName$ | async)+'/'+item" class="team-link" target="_blank">
                  <div class="item-team-container">
                    <div class="team-container">
                      <span class="team-name">
                        {{ team.name }}
                      </span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.win }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.draw }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.lose }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.goals }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.missed_goals }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.gd }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.fo }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.missed_fo }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.pd }}
                </span>
              </td>
              <td class="sub-info">
                <span>
                  {{ team.results.points }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    
    <table class="table players-table" *ngIf="activeTab==='all'">
      <thead class="table-header">
        <tr>
          <th>#</th>
          <th class="align-left">Команда</th>
          <th class="sub-info">St</th>
          <th class="sub-info" *ngIf="windowWidth > 600">Тур</th>
          <th class="sub-info">РПМ</th>
          <th class="sub-info medals-info">🥇</th>
          <th class="sub-info medals-info">🥈</th>
          <th class="sub-info medals-info">🥉</th>
          <th class="sub-info" *ngIf="windowWidth > 600">🏅</th>
          <th class="sub-info tour-info" *ngIf="lastTour > 4">{{ squads.data.tours[lastTour - 4].number }}</th>
          <th class="sub-info tour-info" *ngIf="lastTour > 3">{{ squads.data.tours[lastTour - 3].number }}</th>
          <th class="sub-info tour-info" *ngIf="lastTour > 2">{{ squads.data.tours[lastTour - 2].number }}</th>
          <th class="sub-info tour-info" *ngIf="lastTour > 1">{{ squads.data.tours[lastTour - 1].number }}</th>
          <th class="sub-info tour-info">{{ squads.data.tours[lastTour].number }}</th>
          <th class="sub-info">Очки</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let item of squadsDetails.value; index as i" class="table-row">
          <td [ngClass]="{
            'first':    (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === 1,
            'second':   (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === 2,
            'third':    (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === 3,
            'special':  (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === consts.special_pos
          }">
            <span>
              {{ getPlaceAfterTour(item.id, lastTour) }}
            </span>
            <span class="diff-elem"
              [ngClass]="{
                'pos-diff': item.diff > 0,
                'neg-diff': item.diff < 0
              }"
            >{{
              item.diff > 0 ?
                '+'+item.diff : 
                item.diff === 0 ? 
                  '' : 
                  item.diff
            }}</span>
          </td>
          <td class="item-name-container">
            <a [href]="'https://www.sports.ru/fantasy/football/'+(service.urlName$ | async)+'/'+item.team_id" class="team-link" target="_blank">
              <div class="item-team-container">
                <!-- <div class="logo-container">
                  <img [src]="!!item.profile.logo ? item.profile.logo : 'assets/logos/default.png'" alt="" class="logo-img">
                </div> -->
                <div class="team-container">
                  <span class="team-name">
                    {{ item.name }}
                  </span>
                  <span class="person-name">{{ item.profile.name }}</span>
                </div>
              </div>
            </a>
          </td>
          <td class="sub-info"
            [ngStyle]="{
              'border-color': getRgbForTour(item.rating, playersRatingArr[playersRatingArr.length - 1], playersRatingArr[0]),
              'color': getRgbForTour(item.rating, playersRatingArr[playersRatingArr.length - 1], playersRatingArr[0])
            }"
          >{{ item.rating }}</td>
          <td class="sub-info" *ngIf="windowWidth > 600">{{ lastTour }}</td>
          <td class="sub-info">{{ item.rating_of_prize_positions }}</td>
          <td class="sub-info">{{ item.gold_medals }}</td>
          <td class="sub-info">{{ item.silver_medals }}</td>
          <td class="sub-info">{{ item.bronze_medals }}</td>
          <td class="sub-info" *ngIf="windowWidth > 600">{{ item.medals_count }}</td>
          <td class="sub-info tour-info" *ngIf="lastTour > 4">
            <span class="score"
              [ngClass]="{
                'first-score': getPlaceInTour(item.id, lastTour - 4) === 1,
                'second-score': getPlaceInTour(item.id, lastTour - 4) === 2,
                'third-score': getPlaceInTour(item.id, lastTour - 4) === 3,
              }"
              [ngStyle]="{
                'border-color': getRgbForTour(item.info.team.results_by_tour[lastTour - 4].tour_score, squads.data.tours[lastTour - 4].max, squads.data.tours[lastTour - 4].min),
                'color': getRgbForTour(item.info.team.results_by_tour[lastTour - 4].tour_score, squads.data.tours[lastTour - 4].max, squads.data.tours[lastTour - 4].min)
              }"
            >
              {{ item.info.team.results_by_tour[lastTour - 4].tour_score || 0 }}
            </span>
          </td>
          <td class="sub-info tour-info" *ngIf="lastTour > 3">
            <span class="score"
              [ngClass]="{
                'first-score': getPlaceInTour(item.id, lastTour - 3) === 1,
                'second-score': getPlaceInTour(item.id, lastTour - 3) === 2,
                'third-score': getPlaceInTour(item.id, lastTour - 3) === 3,
              }"
              [ngStyle]="{
                'border-color': getRgbForTour(item.info.team.results_by_tour[lastTour - 3].tour_score, squads.data.tours[lastTour - 3].max, squads.data.tours[lastTour - 3].min),
                'color': getRgbForTour(item.info.team.results_by_tour[lastTour - 3].tour_score, squads.data.tours[lastTour - 3].max, squads.data.tours[lastTour - 3].min)
              }"
            >
              {{ item.info.team.results_by_tour[lastTour - 3].tour_score || 0 }}
            </span>
          </td>
          <td class="sub-info tour-info" *ngIf="lastTour > 2">
            <span class="score"
              [ngClass]="{
                'first-score': getPlaceInTour(item.id, lastTour - 2) === 1,
                'second-score': getPlaceInTour(item.id, lastTour - 2) === 2,
                'third-score': getPlaceInTour(item.id, lastTour - 2) === 3,
              }"
              [ngStyle]="{
                'border-color': getRgbForTour(item.info.team.results_by_tour[lastTour - 2].tour_score, squads.data.tours[lastTour - 2].max, squads.data.tours[lastTour - 2].min),
                'color': getRgbForTour(item.info.team.results_by_tour[lastTour - 2].tour_score, squads.data.tours[lastTour - 2].max, squads.data.tours[lastTour - 2].min)
              }"
            >
              {{ item.info.team.results_by_tour[lastTour - 2].tour_score || 0 }}
            </span>
          </td>
          <td class="sub-info tour-info" *ngIf="lastTour > 1">
            <span class="score"
              [ngClass]="{
                'first-score': getPlaceInTour(item.id, lastTour - 1) === 1,
                'second-score': getPlaceInTour(item.id, lastTour - 1) === 2,
                'third-score': getPlaceInTour(item.id, lastTour - 1) === 3,
              }"
              [ngStyle]="{
                'border-color': getRgbForTour(item.info.team.results_by_tour[lastTour - 1].tour_score, squads.data.tours[lastTour - 1].max, squads.data.tours[lastTour - 1].min),
                'color': getRgbForTour(item.info.team.results_by_tour[lastTour - 1].tour_score, squads.data.tours[lastTour - 1].max, squads.data.tours[lastTour - 1].min)
              }"
            >
              {{ item.info.team.results_by_tour[lastTour - 1].tour_score || 0 }}
            </span>
          </td>
          <td class="sub-info tour-info">
            <span class="score"
              [ngClass]="{
                'first-score': getPlaceInTour(item.id, lastTour) === 1,
                'second-score': getPlaceInTour(item.id, lastTour) === 2,
                'third-score': getPlaceInTour(item.id, lastTour) === 3,
              }"
              [ngStyle]="{
                'border-color': getRgbForTour(item.info.team.results_by_tour[lastTour].tour_score, squads.data.tours[lastTour].max, squads.data.tours[lastTour].min),
                'color': getRgbForTour(item.info.team.results_by_tour[lastTour].tour_score, squads.data.tours[lastTour].max, squads.data.tours[lastTour].min)
              }"
            >
              {{ item.info.team.results_by_tour[lastTour].tour_score || 0 }}
            </span>
          </td>
          <td class="sub-info" [ngClass]="{
            'first':    (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === 1,
            'second':   (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === 2,
            'third':    (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === 3,
            'special':  (i === 0 ? i + 1 : squadsDetails.value[i - 1].score === item.score ? i : i + 1) === consts.special_pos
          }">
            <span>
              {{ item.score }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <app-default-loader class="loading-spinner-container" [@inOutAnimation]></app-default-loader> -->
</div>
<app-default-loader *ngIf="(isLoading$ | async)" class="loading-spinner-container"></app-default-loader>

<ng-template #noDataElem>
  <span>Пока нет данных</span>
</ng-template>

