@import "styles.scss";

.header-container {
  width: 100%;
  // background-color: $main-header-bg-color;
  color: $main-logo-border-color;
  
  &.ucl,
  &.cwc {
    color: #fff;

    .main-container {
      .left-container .logo-container {
        border-color: #fff;
      }
      
      .right-container {
        border-color: #fff;
      }
    }
  }

  // -webkit-box-shadow: 0px -3px 5px 5px rgba(34, 60, 80, 0.75);
  // -moz-box-shadow:    0px -3px 5px 5px rgba(34, 60, 80, 0.75);
  // box-shadow:         0px -3px 5px 5px rgba(34, 60, 80, 0.75);

  .main-container {
    @include main-container();
    height: 100px;
  
    @include flex-row(40px);
    justify-content: start;
    
    @media (max-width: 900px) { gap: 30px }
    @media (max-width: 600px) { gap: 20px }
    @media (max-width: 450px) { gap: 15px }

    .left-container {
      @include flex-row($space-20px);

      & > * {
        align-self: center;
      }
  
      .logo-container {
        width: $main-logo-size;
        height: $main-logo-size;
  
        border-radius: 50%;
        border: 2px solid $main-logo-border-color;

        cursor: pointer;

        &:hover {
          opacity: .8;
        }
    
        .logo-img {
          width: 100%;
          height: 100%;
        }
      }

      .main-title {
        vertical-align: middle;
      }
    }

    .right-container {
      @include flex-row(0);
      
      padding-left: 40px;
      border-left: 5px solid $main-logo-border-color;
      
      @media (max-width: 900px) { padding-left: 30px; border-left-width: 4px }
      @media (max-width: 600px) { padding-left: 20px; border-left-width: 3px }
      @media (max-width: 450px) { padding-left: 15px; border-left-width: 2px }

      & > * {
        align-self: center;
      }
    }
  }
}