@import "styles.scss";

.app-container {
  min-height: 100vh;
  color: $color-text;
  background-color: $color-canvas;

  &.ucl,
  &.cwc {
    background-color: $color-canvas;
    color: $color-text;
  }

  &.spain {
    background-color: $color-canvas;
  }
}
