<table class="table standings">
  <thead class="table-header">
    <tr>
      <th>#</th>
      <th class="align-left">Команда</th>
      <th class="sub-info" *ngIf="windowWidth > 600">T</th>
      <th class="sub-info">St</th>
      <th *ngIf="!isShowUnitedTableByPoints" class="sub-info tour-info">W</th>
      <th *ngIf="!isShowUnitedTableByPoints" class="sub-info tour-info">D</th>
      <th *ngIf="!isShowUnitedTableByPoints" class="sub-info tour-info">L</th>
      <th *ngIf="!isShowUnitedTableByPoints" class="sub-info tour-info">+/-</th>
      <th *ngIf="!isShowUnitedTableByPoints" class="sub-info tour-info">GD</th>
      <th *ngIf="!isShowUnitedTableByPoints" class="sub-info tour-info">P</th>

      <th *ngIf="!!isShowUnitedTableByPoints" class="sub-info medals-info">🥇</th>
      <th *ngIf="!!isShowUnitedTableByPoints" class="sub-info medals-info">🥈</th>
      <th *ngIf="!!isShowUnitedTableByPoints" class="sub-info medals-info">🥉</th>
      <th *ngIf="!!isShowUnitedTableByPoints && windowWidth > 600" class="sub-info">🏅</th>
      <th *ngIf="!!isShowUnitedTableByPoints && lastTour > 4" class="sub-info tour-info">{{ lastTour - 4 }}</th>
      <th *ngIf="!!isShowUnitedTableByPoints && lastTour > 3" class="sub-info tour-info">{{ lastTour - 3 }}</th>
      <th *ngIf="!!isShowUnitedTableByPoints && lastTour > 2" class="sub-info tour-info">{{ lastTour - 2 }}</th>
      <th *ngIf="!!isShowUnitedTableByPoints && lastTour > 1" class="sub-info tour-info">{{ lastTour - 1 }}</th>
      <th *ngIf="!!isShowUnitedTableByPoints" class="sub-info tour-info">{{ lastTour }}</th>
      <th *ngIf="!!isShowUnitedTableByPoints" class="sub-info">ФО</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let profile of profilesArr; index as i" class="table-row">
      <td [ngClass]="{
        'first':    i + 1 === 1,
        'second':   i + 1 === 2,
        'third':    i + 1 === 3
      }">
        <span>
          {{ i + 1 }}
        </span>
      </td>
      <td class="item-name-container">
        <a [href]="'https://www.sports.ru/fantasy/football/'+(service.urlName$ | async)+'/'+profile.team.id" class="team-link" target="_blank">
          <div class="item-team-container">
            <div class="logo-container">
              <img [src]="!!profile.logo ? profile.logo : 'assets/logos/default.png'" alt="" class="logo-img">
              <div class="conference-label-container" [ngSwitch]="profile.leagues[0]">
                <span class="label blue-label" *ngSwitchCase="'Конференция Анчелотти'">КА</span>
                <span class="label yellow-label" *ngSwitchCase="'Конференция Муньоса'">КМ</span>
                <span class="label red-label" *ngSwitchCase="'Конференция Зидана'">КЗ</span>
                <span class="label" *ngSwitchDefault></span>
              </div>
            </div>
            <div class="team-container">
              <span class="team-name">
                {{ profile.team.title }}
              </span>
              <span class="person-name">{{ profile.name }}</span>
            </div>
          </div>
        </a>
      </td>
      <td class="sub-info" *ngIf="windowWidth > 600">{{ lastTour }}</td>
      <td class="sub-info"
        [ngStyle]="{
          'border-color': service.getRgbForTour(profile.team.rating, playersRatingArr[playersRatingArr.length - 1], playersRatingArr[0]),
          'color': service.getRgbForTour(profile.team.rating, playersRatingArr[playersRatingArr.length - 1], playersRatingArr[0])
        }"
      >{{ profile.team.rating }}</td>
      <td *ngIf="!isShowUnitedTableByPoints" class="sub-info">{{ profile.results.wins[chosenStage] }}</td>
      <td *ngIf="!isShowUnitedTableByPoints" class="sub-info">{{ profile.results.draws[chosenStage] }}</td>
      <td *ngIf="!isShowUnitedTableByPoints" class="sub-info">{{ profile.results.loses[chosenStage] }}</td>
      <td *ngIf="!isShowUnitedTableByPoints" class="sub-info wide-sub-info">{{ profile.results.fo[chosenStage] }}-{{ profile.results.missed_fo[chosenStage] }}</td>
      <td *ngIf="!isShowUnitedTableByPoints" class="sub-info">{{ profile.results.diff_fo[chosenStage] }}</td>
      <td *ngIf="!isShowUnitedTableByPoints" class="sub-info points">
        <div class="points-info">
          {{ profile.results.points[chosenStage] }}
        </div>
      </td>

      <td *ngIf="!!isShowUnitedTableByPoints" class="sub-info">{{ getSquadDetails(profile.id).rating_of_prize_positions }}</td>
      <td *ngIf="!!isShowUnitedTableByPoints" class="sub-info">{{ getSquadDetails(profile.id).gold_medals }}</td>
      <td *ngIf="!!isShowUnitedTableByPoints" class="sub-info">{{ getSquadDetails(profile.id).silver_medals }}</td>
      <td *ngIf="!!isShowUnitedTableByPoints" class="sub-info">{{ getSquadDetails(profile.id).bronze_medals }}</td>
      <td *ngIf="!!isShowUnitedTableByPoints && windowWidth > 600" class="sub-info">{{ getSquadDetails(profile.id).medals_count }}</td>
      <td *ngIf="!!isShowUnitedTableByPoints && lastTour > 4" class="sub-info tour-info">
        <span class="score"
          [ngClass]="{
            'first-score': getPlaceInTour(profile.id, lastTour - 4) === 1,
            'second-score': getPlaceInTour(profile.id, lastTour - 4) === 2,
            'third-score': getPlaceInTour(profile.id, lastTour - 4) === 3,
          }"
          [ngStyle]="{
            'border-color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 4].tour_score, squads.data.tours[lastTour - 4].max, squads.data.tours[lastTour - 4].min),
            'color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 4].tour_score, squads.data.tours[lastTour - 4].max, squads.data.tours[lastTour - 4].min)
          }"
        >
          {{ getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 4].tour_score || 0 }}
        </span>
      </td>
      <td *ngIf="!!isShowUnitedTableByPoints && lastTour > 3" class="sub-info tour-info">
        <span class="score"
          [ngClass]="{
            'first-score': getPlaceInTour(profile.id, lastTour - 3) === 1,
            'second-score': getPlaceInTour(profile.id, lastTour - 3) === 2,
            'third-score': getPlaceInTour(profile.id, lastTour - 3) === 3,
          }"
          [ngStyle]="{
            'border-color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 3].tour_score, squads.data.tours[lastTour - 3].max, squads.data.tours[lastTour - 3].min),
            'color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 3].tour_score, squads.data.tours[lastTour - 3].max, squads.data.tours[lastTour - 3].min)
          }"
        >
          {{ getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 3].tour_score || 0 }}
        </span>
      </td>
      <td *ngIf="!!isShowUnitedTableByPoints && lastTour > 2" class="sub-info tour-info">
        <span class="score"
          [ngClass]="{
            'first-score': getPlaceInTour(profile.id, lastTour - 2) === 1,
            'second-score': getPlaceInTour(profile.id, lastTour - 2) === 2,
            'third-score': getPlaceInTour(profile.id, lastTour - 2) === 3,
          }"
          [ngStyle]="{
            'border-color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 2].tour_score, squads.data.tours[lastTour - 2].max, squads.data.tours[lastTour - 2].min),
            'color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 2].tour_score, squads.data.tours[lastTour - 2].max, squads.data.tours[lastTour - 2].min)
          }"
        >
          {{ getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 2].tour_score || 0 }}
        </span>
      </td>
      <td *ngIf="!!isShowUnitedTableByPoints && lastTour > 1" class="sub-info tour-info">
        <span class="score"
          [ngClass]="{
            'first-score': getPlaceInTour(profile.id, lastTour - 1) === 1,
            'second-score': getPlaceInTour(profile.id, lastTour - 1) === 2,
            'third-score': getPlaceInTour(profile.id, lastTour - 1) === 3,
          }"
          [ngStyle]="{
            'border-color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 1].tour_score, squads.data.tours[lastTour - 1].max, squads.data.tours[lastTour - 1].min),
            'color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 1].tour_score, squads.data.tours[lastTour - 1].max, squads.data.tours[lastTour - 1].min)
          }"
        >
          {{ getSquadDetails(profile.id).info.team.results_by_tour[lastTour - 1].tour_score || 0 }}
        </span>
      </td>
      <td *ngIf="!!isShowUnitedTableByPoints" class="sub-info tour-info">
        <span class="score"
          [ngClass]="{
            'first-score': getPlaceInTour(profile.id, lastTour) === 1,
            'second-score': getPlaceInTour(profile.id, lastTour) === 2,
            'third-score': getPlaceInTour(profile.id, lastTour) === 3,
          }"
          [ngStyle]="{
            'border-color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour].tour_score, squads.data.tours[lastTour].max, squads.data.tours[lastTour].min),
            'color': service.getRgbForTour(getSquadDetails(profile.id).info.team.results_by_tour[lastTour].tour_score, squads.data.tours[lastTour].max, squads.data.tours[lastTour].min)
          }"
        >
          {{ getSquadDetails(profile.id).info.team.results_by_tour[lastTour].tour_score || 0 }}
        </span>
      </td>
      <td *ngIf="!!isShowUnitedTableByPoints" class="sub-info" [ngClass]="{
        'first':    (i === 0 ? i + 1 : squadsDetails[i - 1].score === getSquadDetails(profile.id).score ? i : i + 1) === 1,
        'second':   (i === 0 ? i + 1 : squadsDetails[i - 1].score === getSquadDetails(profile.id).score ? i : i + 1) === 2,
        'third':    (i === 0 ? i + 1 : squadsDetails[i - 1].score === getSquadDetails(profile.id).score ? i : i + 1) === 3
      }">
        <span>
          {{ profile.score }}
        </span>
      </td>
    </tr>
  </tbody>
</table>